.detail_title { 
	color: rgba(0, 0, 0, 1);
  	width: fit-content;
  	height: 69px;
  	font-family: PT Sans Caption;
  	text-align: center;
  	font-size: 36px;
  	letter-spacing: 0;
  	font-weight: bold;
  	position: relative;
  	top: 33px;
  	margin: 0 auto;
}
.details { 
	width:1671px;
	height:580px;
	position:absolute;
	display: flex;
	flex-flow: row;
	gap:10px;
	position:absolute;
	top:140px;
	left:160px;
}
.img { 
	width:865px;
	height:580px;
	background-repeat:no-repeat;
	object-fit:cover;
}
.info { 
	width:787px;
	height:580px;
	display: flex;
	flex-flow: column;
	gap:20px;
}
.short { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:auto;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.measure_type { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:auto;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.extended_desc { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:auto;
	font-family:PT Sans Caption;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.desc { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:auto;
	font-family:PT Sans;
	font-style: italic;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	margin-top: 40px;
}
