.all-contain{
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: auto;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.sub-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
}

.big_input{
    border-radius: 5px;
    width:15%;
    text-align: center;
    margin-left: 10px;
}

.amount-window-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:auto;
    justify-content: center;
    align-items: center;
}