<!DOCTYPE html>
<html>
  <head>
    <title>Погода</title>
    <link rel="stylesheet" href="./assets/home.css">
  </head>
  <body style="margin:0;">
    <div class=home>
      <div class="home_bg_img"></div>
      <div class="home_bg_fade"></div>
      <div class=home_body><span  class="home_title">Прогноз погоды</span><span  class="home_desc">Предскажем, когда Вам поехать на шашлыки</span>
        <div class=btn_resume>
          <div class="resume_bg"></div><span  class="resume_lbl">Продолжить</span>
        </div>
      </div>
      <div class=home_header>
        <div class="home_header_bg"></div>
        <div class=home_logo><span  class="home_logo_lbl">Погода</span>
          <div class="home_img"></div>
        </div>
      </div>
    </div>
  </body>
</html>