/* Стили для контейнера */
.main-container {
    display: flex;
    flex-direction: column; /* Вертикальная ориентация */
    align-items: center; /* Центрируем по горизонтали     justify-content: center; /* Центрируем по вертикали */
	justify-content: end;
    height: calc(100vh - var(--header-height)); /* Занимает всю высоту экрана минус высота навигационной панели */
	width:100vw;
    text-align: center; /* Центрирует текст */
    gap: 20px; /* Расстояние между элементами */
    margin-top: var(--header-height);
}

.home { 
	background-color:rgba(245.43749392032623, 245.43749392032623, 245.43749392032623, 1);
	width:1920px;
	height:auto;
}

.home_bg_img { 
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-repeat:no-repeat;
	background-size:cover;
	background-color: rgb(37, 37, 37);
}

.home_bg_fade { 
	background-color:rgba(45.00394530594349, 0, 141.31250202655792, 0.03999999910593033);
	width:100%;
	height:100%;
	position:absolute;
	z-index: 2;
}

.home_title { 
	color:rgba(255, 255, 255, 1);
	width:550px;
	height:65px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
	font-weight: bold;
	z-index: 5;
}

.home_desc { 
	color:rgba(255, 255, 255, 1);
	width:400px;
	height:69px;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	z-index: 5;
}

.btn_resume { 
	width:300px !important;
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) !important;
	background-color:rgba(0, 0, 0, 0.26);
	border-radius: 28px !important;
	font-family:PT Sans Caption !important;
	text-align:center !important;
	font-size:24px !important;
	letter-spacing:0;
	color: white;
	z-index: 3;
	margin-top: 30vh;
	margin-bottom: 5vh;
}

.resume_bg { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) !important;
	background-color:rgba(255, 255, 255, 0.07000000029802322) !important;
	width:300px !important;
	height:56px !important;
	border-top-left-radius:28px !important;
	border-top-right-radius:28px !important;
	border-bottom-left-radius:28px !important;
	border-bottom-right-radius:28px !important;
}

.resume_lbl { 
	color:rgba(255, 255, 255, 1);
	width:300px !important;
	height:56px !important;
	font-family:PT Sans Caption;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}

.header_bg { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.10000000149011612) 0%,rgba(115.00000074505806, 115.00000074505806, 115.00000074505806, 0) 100%) !important;
}

.header_logo_lbl { 
	color:rgba(255, 255, 255, 1) !important;
}
.header_img { 
	background-image:url(http://127.0.0.1:9000/test/logo_light.png) !important;
}

@media (max-height: 460px) {
    .btn_resume { 
		margin-top: 25vh;
		margin-bottom: 5vh;
		font-size: 16px !important;
	}
	.home_desc{
		width: auto;
		height: auto;
		font-size: 16px;
	}
	.home_title{
		width: auto;
		height: auto;
		font-size: 32px;
	}
}

@media (max-height: 340px) {
    .btn_resume { 
		margin-top: 15vh;
		margin-bottom: 5vh;
	}
	.home_desc{
		width: auto;
		height: auto;
		font-size: 16px;
	}
	.home_title{
		width: auto;
		height: auto;
		font-size: 32px;
	}
	.main-container{
		min-height: 260px !important;
	}
}

@media (max-width: 560px) {
    .btn_resume { 
		width:auto !important;
		font-size: 16px !important;
	}
	.home_desc{
		width: auto;
		height: auto;
		font-size: 16px;
	}
	.home_title{
		width: auto;
		height: auto;
		font-size: 32px;
	}
}