.header { 
	width:100vw;
	height:var(--header-height);
	position:absolute;
	left:0px;
	top:0px;
    z-index:3;
}

.header_bg_light { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.10000000149011612) 0%,rgba(115.00000074505806, 115.00000074505806, 115.00000074505806, 0) 100%) ;
	width: 100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}

.header_logo { 
	width:247px;
	height:82px;
	position:relative;
	left:3%;
	top:9px;
    z-index: 4;
}
.header_logo_lbl_light { 
	color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  position: absolute;
  left: 81px;
  top: 20px;
  font-family: PT Sans Caption;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
  z-index: 4;
  font-weight: bold;
}
.header_img { 
	width: 60px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: 13px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}

.header_bg_dark { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(90deg, rgb(255, 255, 255) 0%,rgb(223, 242, 255) 100%) ;
	width: 100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}

.header_logo_lbl_dark { 
	color:rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: absolute;
  left: 81px;
  top: 20px;
  font-family: PT Sans Caption;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
  z-index: 4;
  font-weight: bold;
}

.navigation{
	position: absolute !important;
	right:15px !important;
	margin:0 !important;
	padding:0 !important;
	top:23px !important;
	font-family: PT Sans Caption;
	font-size: 20px;
}

.dark{
	--bs-navbar-color: rgba(62, 79, 105, 0.96) !important;
	--bs-navbar-hover-color: rgba(var(--bs-navbar-color), 0.8) !important;
}

.light {
	--bs-navbar-color: rgba(255, 255, 255, 0.68) !important;
	--bs-navbar-hover-color: rgba(var(--bs-navbar-color), 0.8) !important;
}

.nav_collapse_dark{
	background: rgb(229, 245, 255);
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.21) !important;
	z-index:15;
}

.nav_collapse_light{
	background: rgba(60, 90, 136, 0.32);
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.21) !important;
	z-index:15;
}

.nav {
    padding: 10px 20px;
    border-radius: 15px;
    position: fixed;
    right: 0;
}

.nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    gap: 0 15px
}

.nav__link {
    text-decoration: none;
    color: #0095FF;
    position: relative;
    background: none;
    border: none;
}

.nav__link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -7px;
    background-color: #fff;
}

.nav__mobile-wrapper {
    display: none;
    height: 30px;
    width: 30px;
    transition: all .4s linear;
    cursor: pointer;
    position: relative;
}

.nav__mobile-target {
    height: 2px;
    width: 100%;
    background-color: #363853;
    position: relative;
    transition: all .2s linear;
}

.nav__mobile-wrapper.active .nav__mobile-target {
    transform: rotate(45deg)
}

.nav__mobile-target::after, .nav__mobile-target::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #363853;
}

.nav__mobile-target::after {
    top: -7px;
}

.nav__mobile-target::before {
    bottom: -7px;
}

.nav__mobile-wrapper.active .nav__mobile-target::after {
    display: none;
}

.nav__mobile-wrapper.active .nav__mobile-target::before {
    top: 0;
    transform: rotate(90deg);
}

.nav__mobile-menu {
    position: absolute;
    top: 40px;
    right: 0;
    flex-direction: column;
    gap: 15px 0;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.nav__mobile-wrapper.active .nav__mobile-menu {
    display: flex;
}

.header_up{
    width: 100% !important;
    top: calc(-1* var(--header-height)) !important;
 }

@media (max-width: 545px) {
    .nav__wrapper {
        flex-direction: row-reverse;
    }

    .nav__links {
        display: none;
    }

    .nav__mobile-wrapper {
        display: flex;
        align-items: center;

    }
}