<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Погода</title>
    <link rel="stylesheet" type="text/css" href="./static/css/forecasts.css"/>
    <link rel="stylesheet" type="text/css" href="./static/css/global.css">
  </head>
  <body style="margin:0;">
    <div class=forecasts>
      {{if .forec_empty}}
        <span  class="empty">Здесь пусто...</span>
      {{else}}
      {{ range .Forecasts }}
      <div class=forecast>
        <div class="forecast_bg" style="background-color: rgba({{ .Color }})"></div>
        {{ if eq .Img_url ""}}
          <div class="forecast_img"></div>
        {{ else }}
          <div class="forecast_img" style="background-image:url({{.Img_url}})"></div>
        {{end}}
        <div class="forecast_fade" style="background-image:linear-gradient(0deg, rgba({{ .Color }}) 0%,rgba(255, 255, 255, 0) 100%)"></div>
        <div class="content_block">
          <div  class="card_title" style="cursor: pointer; z-index:2;" onclick="window.location='http://127.0.0.1:8080/details?id={{.Forecast_id}}';">{{ .Title }}</div>
          <div  class="card_desc">{{ .Descr }}</div>
          <form style="z-index:5;" action='http://127.0.0.1:8080/add?id={{.Forecast_id}}' method="post">
            <button class="btn_add" >
              <div class="btn_bg"></div>
              <span  class="btn_lbl">Добавить</span>
            </button>
          </form>
        </div>
      </div>
      {{ end }}{{end}}
    </div>
    <span  class="forecasts_title">Типы прогнозов</span>
    <div class=header_component>
      <div class="header_bg"></div>
      <div class=logo>
        <button class="logo_btn" onclick="location.href='http://127.0.0.1:8080/forecasts'"></button>
        <span  class="logo_lbl">Погода</span>
        <div class="logo_img"></div>
      </div>
    </div>
    <form action="/forecasts" method="GET" class=search>
              <input
                  type="text"
                  name="search"
                  class="value"
                  maxlength="55"
                  placeholder="Поиск..."
                  value="{{.Search_str}}"
              />
              <button type="submit" class="search_btn" style="z-index:2; cursor:pointer;"></button> <!-- скрытая кнопка для отправки формы -->
              <img class="search_btn" src="http://127.0.0.1:9000/test/source_obj/search.svg">
          </form>
    <div class=prediction>
      {{if eq .Pred_len 0 }}
        <button class="btn_prediction" style="cursor: not-allowed;" onclick="location.href='http://127.0.0.1:8080/prediction/{{.Curr_pred_id}}'" disabled></button>
      {{else}}       
        <button class="btn_prediction" onclick="location.href='http://127.0.0.1:8080/prediction/{{.Curr_pred_id}}'"></button>
      {{end}}
      <div class="prediction_bg"></div>
      <div class="prediction_size_bg">
        <span  class="prediction_size">{{.Pred_len}}</span>
      </div>
      <div class="prediction_img"></div>
    </div>
</body>
</html>