.input_cell_{
    width: 15%;
    min-width: 100px;
    height:100%;
    border-radius: 1rem;
    text-align: center;
}

.InputsContainerLine{
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input_cell_result{
    width: 15%;
    min-width: 100px;
    height:100%;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(104, 255, 137);
}
.input_cell_input{
    width: 15%;
    min-width: 100px;
    height:100%;
    border-radius: 1rem;
    text-align: center;
}